/* ChatApp.css */

/* Reset some default styles */

/* General styles */
.app {
  display: flex;
  height: 90vh;
  width: 100%;
  flex-direction: row;
  /* margin: 10px; */
  column-gap: 10px;

}

.chat-time {
  color: rgb(155, 152, 152);
  align-items: end;
  width: 150px
}

.mb-0 {
  color: rgb(155, 152, 152);
  max-lines: 1;
}

.message-pill {
  width: 50px;
  align-self: flex-end;
}

.message-pill p {
  color: rgb(73, 132, 73);
  font-weight: bold;
  align-items: end;
}

.message-time p {
  font-weight: bold;
  font-size: x-small;
}


/* ChatBar styles */
.sidebar-section {
  width: 350px;
  background-color: #f4f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  border: solid;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-radius: 10px;
  
}

.chat {
  cursor: pointer;
  /* display: flex; */
  /* align-items: center; */
  padding: 2px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.chat:hover {
  background-color: #f0f0f0;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-preview {
  flex-grow: 1;
}

.typing {
  font-style: italic;
  color: #888;
}

/* Highlight selected user */
.selected {
  background-color: #4caf50;
  color: #fff;
}

/* Main ChatBox styles */
.chat-box {

  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  border-radius: 10px;

  border: solid 1px rgb(187, 236, 238);



}

.chat-header {
  background-color: rgb(173, 221, 223);
  color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0px 0px;
}

.sticky-top {
  position: relative;
  top: 0px;
  z-index: 1020;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-preview {
  flex-grow: 1;
}

.messages-container {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background-color: #f4f7f7;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.sent-message {
  background-color: #54dd90;
  color: white;
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 12px;
  max-width: 80%;
  align-self: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s;
}

.sent-message:hover {
  background-color: #45a049;
}

.received-message {
  background-color: #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 70%;
}

.chat-input {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  border-top: 1px solid #ccc;
  display: flex;
  position:relative;
  top: 85%;
  width: auto;
  align-items: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}

.inner-input {
  width: 100%;
  display: flex;
  align-items: center;
}

.upload-btn,
.camera-btn,
.send-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.upload-btn,
.camera-btn {
  font-size: 1.2em;
  color: #4caf50;
}

.camera-btn,
.send-btn {
  margin-left: 10px;
}

.camera-btn:hover,
.send-btn:hover {
  color: #45a049;
}

.px-4 {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
  padding-top: 12px;
  padding-bottom: 12px;
  border: solid 1px rgb(187, 236, 238);
  /* width: auto; */
}

.d-flex {
  width: auto;
}
.form-control{
  width:100%;
  border-radius: 10px;
  
}
/* Add more styles as needed */