.register{
    display: flex;
    flex-direction: column;
    border-left: 1px solid grey;
    padding-left: 4rem;

    .forms{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        row-gap: 20px;
    }
}