.student-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.student-list-header{
    font-size: 40px;
    text-decoration: underline;
}
.search-container{
    display: flex;
    align-items: center;
    width: 300px;
}
input[type="text"] {
    padding: 15px;
    width: 100%;
    box-sizing: border-box; 
    border: 1px solid #ccc;
  }
.students-courses_box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;

  }
.students-courses_item {
    flex-basis: calc(20%);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
  }
.students-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #0f6563;;
    color: #FFF;
    position: relative;
  }
.students-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    font-weight: bold;
    font-size: 30px;
    color: #FFF;
  }
  .students-courses-item_date-box {
    font-size: 20px;
    background: #0f6563;
    padding: 5px;
  }
.students-courses-item_date {
    font-weight: bold;
    color: #f9b234;
  }
.students-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
  }
.students-courses_item:nth-child(even) .students-courses-item_bg {
    background-color: #e44002;
  }
  @media only screen and (max-width: 979px) {
    .students-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .students-courses-item_title {
      font-size: 24px;
    }
  }
  @media only screen and (max-width: 639px) {
    .students-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  }